body {
  /* background: #c8c6c4; */
  background: #3498db;
}

.App {
  font-family: sans-serif;
  padding: 10px 30px;
}

/* Fix: Only keep one background-color */
.App > div {
  background-color: #fff;
  color: #3498db;
  text-align: center;
}

/* Fix: Ensure slick buttons are visible */
.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;
}
